.thumbs_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0 0 200px;
    padding: 20px 0 0 10px;
}

.thumbs_item {
    width: 25%;
    margin: 0 0 15px 0;
    padding: 0 10px;
}

.thumbs_thumbnail {
    max-width: 100%;
    margin: 0 0 10px 0;
}

.thumbs_info {
    display: flex;
}

.thumbs_profile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #e4df7f;
}

.thumbs_text {
    width: calc(100% - 36px);
    padding-left: 10px;
}

.thumbs_text--title {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.thumbs_text--owner {
    font-size: 1rem;
    color: #aeaeae;
    margin-bottom: 0.2em;
}

.thumbs_text--anal {
    font-size: 0.9rem;
    color: #aeaeae;
}

@media screen and (max-width: 1000px) {
    .thumbs_item {
        width: 33%;
    }
}

@media screen and (max-width: 800px) {
    .thumbs_wrapper {
        margin: 60px 0 0 60px;
    }

    .thumbs_item {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .thumbs_wrapper {
        margin: 60px 0 0 0;
        padding: 20px 0 0 0;
    }

    .thumbs_item {
        width: 100%;
    }
}